body {
	margin: 0; 
	background-image: url(i/bg1.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}

#sky {
	width: 100%;
	height: 100px; 
}

#logo {
	margin: 15px;
	position: fixed;
}


#database {
	margin-left: 95px;
	font-size: 2em;
	position: fixed;
	top: -7px;

}

#news {
	margin-left: 274px;
	font-size: 2em;
	position: fixed;
	top: -7px;
}

#community {
	margin-left: 403px;
	font-size: 2em;
	position: fixed;
	top: -7px;
}

#files {
	margin-left: 579px;
	font-size: 2em;
	position: fixed;
	top: -7px;
}

#media {
	margin-left: 689px;
	font-size: 2em;
	position: fixed;
	top: -7px;
}

.pricedown {
	font-family: "Pricedown Rus";
	color: white;
}

#land {
	width: 660px;
	height: 600px;
	background-image: url(i/test.png);
	margin-left: 100px;
	border: 2px solid black;
	position: fixed;
} 

#news-header {
	position: fixed;
	background-image: url(i/news-h.png); 
	margin-left: 10px;
	margin-top: 10px;
	width: 640px;
	height: 30px;
	text-align: center;
	color: white;
}

#news-content {
	position: fixed;
	width: 640px; 
	height: 540px; 
	margin-left: 10px;
	margin-top: 50px;
	box-sizing: border-box;
    	padding: 20px;
	overflow : auto;
	color: white;
}

#htext {
	line-height: 0px;
}